<?xml version="1.0" encoding="UTF-8"?>
<?turbosoftxml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TurboSoft Portal</display-name>
  <servlet>
    <description>Servlet to Manage Datatypes and Data</description>
    <display-name>Manage Data</display-name>
    <servlet-name>ManageData</servlet-name>
    <servlet-class>org.earthcube.geosoft.portal.servlets.ManageData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageData</servlet-name>
    <url-pattern>/data/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet to Describe Software</description>
    <display-name>Describe Software</display-name>
    <servlet-name>DescribeSoftware</servlet-name>
    <servlet-class>org.earthcube.geosoft.portal.servlets.DescribeSoftware</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescribeSoftware</servlet-name>
    <url-pattern>/software/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleUpload</display-name>
    <servlet-name>HandleUpload</servlet-name>
    <servlet-class>org.earthcube.geosoft.portal.servlets.HandleUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleUpload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SparqlEndpoint</display-name>
    <servlet-name>SparqlEndpoint</servlet-name>
    <servlet-class>org.earthcube.geosoft.portal.servlets.SparqlEndpoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SparqlEndpoint</servlet-name>
    <url-pattern>/sparql</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Servlet to Export Graph</description>
    <display-name>Graph Exporter</display-name>
    <servlet-name>ExportGraph</servlet-name>
    <servlet-class>org.earthcube.geosoft.portal.servlets.ExportGraph</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportGraph</servlet-name>
    <url-pattern>/export/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manage Community</display-name>
    <servlet-name>ManageCommunity</servlet-name>
    <servlet-class>org.earthcube.geosoft.portal.servlets.ManageCommunity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCommunity</servlet-name>
    <url-pattern>/community/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>43200</session-timeout>
  </session-config>
  <security-role>
    <role-name>TurbosoftUser</role-name>
  </security-role>
  <security-constraint>
    <display-name>SecurityConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>Application</web-resource-name>
      <url-pattern>/upload/*</url-pattern>
      <url-pattern>/software/*</url-pattern>
      <url-pattern>/data/*</url-pattern>
      <url-pattern>/sparql/*</url-pattern>
      <url-pattern>/export/*</url-pattern>
      <url-pattern>/community/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>TurbosoftUser</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/jsp/login.jsp</form-login-page>
      <form-error-page>/jsp/login_failed.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>