div.inactive-grid div.x-grid-view table.x-grid-table tr.x-grid-row td.x-grid-cell div.x-grid-cell-inner {
	color: #888
}

.transparent-panel {
	opacity: 0.8;
}

.fa,
.fa-menu,
.fa-title
{
	top: -1px !important;
	font-size: 14px !important;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-small {
	top: 0px !important;
	font-size: 12px !important;
}
.fa-big {
	top: 0px !important;
	font-size: 18px !important;
}
.fa-tree {
	font-size: 16px !important;
}
.fa-menu {
	top: 5px !important;
	font-size: 12px !important;
}
.fa-title {
	font-size: 12px !important;
	top: -2px !important;
}
.fa-white { color: white; }
.fa-green { color: seagreen; }
.fa-maroon { color: maroon;	}
.fa-red { color: indianred;	}
.fa-orange { color: #EEBB88; }
.fa-gold { color: gold; }
.fa-navy { color: navy;	}
.fa-blue { color: steelblue; }
.fa-browngrey { color: #776666; }
.fa-yellow { color: #E2C77C; }
.fa-grey { color: #999999;	}
.fa-brown { color: peru; }

.highlightIcon {
	font-weight: bold !important;
	color: maroon !important;
	/*color: #CC1D33 !important;*/
}

div.smallPropertyGrid input.x-form-field {
	font-size: 11px !important;
}

tr.errorCls td {
	color: maroon;
	font-weight: bold;
}

tr.infoCls td {
	color: darkgreen;
	font-style: italic;
}

tr.suggestCls td {
	color: darkblue;
	font-weight: bold;
}

tr.installedDomainCls td {
	color: #999;
}

tr.myDomainCls td {
	color: #369;
}

div.editableCanvas {
	background-color : white;
}

div.disabledCanvas {
	/*background-color : rgba(40,40,40,0.1) !important;*/
	background: url(../images/square.gif)
	/*background-color : rgba(255, 255, 255, 1);*/
}

li.active a {
	color: white;
}

.multi-line-grid .x-grid-cell-inner,.multi-line-grid .x-grid-hd-inner {
	white-space: normal !important;
}

.multi-line-grid .x-grid-cell {
	vertical-align: middle !important;
}

.custom-highlight-grid .x-grid-row-focused .x-grid-cell {
	background-color: rgb(255, 245, 204) !important;
}

.x-tree-panel .multi-line-grid .x-grid-row .x-grid-cell-inner {
	height: auto;
	white-space: normal !important;
}

.mytree-grid .x-grid-row .x-grid-cell {
	border-right-width: 1px !important;
}

/*.x-border-layout-ct {
	background-color: transparent !important;
}*/

#app-header {
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #eeeeee),
		color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
	/*border-bottom: 1px solid #cccccc;*/
}

#app-header-title {
	padding: 5px 5px 7px 65px;
	background: url(../images/logo.png) no-repeat 8px 5px;
	background-size: 50px 25px;
}

#app-header-title a {
	color: #cc1d33;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 1px 0 #999;
	text-decoration: none;
	vertical-align: middle;
}

#app-header-title a:hover {
	text-decoration: underline;
}

/* Show the menu */
#app-north, #app-north .x-box-inner {
	overflow: visible;
}

/* Prule Editor */
.prule_selectable {
    background-color: #ccc;
    font-weight: normal;
}
.prule_highlighted {
    background-color: yellow;
}
.prule_op, .prule_op tspan {
	fill: #339 !important;
	color: #339 !important;
    font-weight: bold;
}

/* User Profile */
.profile {
	/*background-color: white;
	border: 1px solid #999;
	border-top: 0px;*/
	padding: 10px;
}

.profile h1 {
	margin-top:0px;
	margin-bottom:5px;
}

.profile_image img {
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-right: 20px;
	float:left;
}

.profile_detail {
	line-height: 1.5em;
}

/* Tweaks */
.autoHeightPanel .x-panel-body {
    height:auto !important;
}

table.audit {
	border: 1px solid #333;
}
table.audit td {
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
}
.highlightedButton .x-btn-inner {
   background-color: yellow;
}